*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.image-container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.image-preview{
    flex-shrink:1;
    width: 50%;
    height: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 20px;
}
.label{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.image-preview-img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    object-fit: contain;
    object-position: center;
}
#img{
    height: 400px;
    width: 400px;
}