*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.image-container{
    width: 100vw;
    height: 100%;
    /* background-color: rgb(3, 39, 27); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.image-preview{
    position: relative;
    flex-shrink:1;
    max-width: 50%;
    max-height: 50%;
    /* border: 1px solid #000; */
    border-radius: 5px;
    margin-left: 20px;
}
.label{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.image-preview img{
    
    height: 100%;
    object-fit: contain;    
}
#cameraFeed{
    position: absolute;
    background: #000;
    height: 85vh;
    width: 80vw;
    visibility: hidden;
    object-fit: cover;
}
#close {
    position: absolute;
    bottom: 0 ;
    margin-bottom: 1.5vh;
    visibility: hidden;
    padding: 5px
}
.result{
    background-color: rgb(24, 74, 74);
    outline: none;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    padding: 8px 15px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #cameraFeed{
        height: 70vh;
        width: 90vw;
    }
  }