@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "poppins";
  background-color: #030406;
}
header {
  border-bottom: 2px solid #55575a67;
  height: 10vh;
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.header-right > img {
  height: 40px;
  border-radius: 10px;
}
.heading {
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 600;
}
.sub {
  color: #838588;
  font-size: 0.7rem;
}
.section1 {
  padding: 3rem;
  margin-top: 2vh;
  text-align: center;
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: aliceblue;
  }
  h4 {
    font-size: 1.3rem;
    color: #838588;
    font-weight: 300;
  }
}
.section2 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  .card {
    height: 40vh;
    width: 30vw;
    background-color: #3535368e;
    border-radius: 20px;
    transition: all 0.2s ease-in;
  }
}
.card:hover {
  cursor: pointer;
  border: 1px solid #477aee;
}
.image-upload {
  padding: 20px;
}
.image-upload > img {
  height: 60px;
}
.image-upload > h1 {
  margin-top: 10px;
  font-weight: 400;
}
.label {
  margin-top: 30px;
  padding: 12px;
  text-align: center;
  color: aliceblue;
  font-weight: 600;
  background-color: #477aee;
  width: 25vw;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
.info {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-detail {
  border-radius: 10px;
  padding: 10px 20px;
  width: 80vw;
  background-color: #3535368e;
  margin-bottom: 20px;
  h1 {
    color: aliceblue;
  }
  p {
    color: #838588;
  }
}
footer {
  width: 100%;
  height: 10vh;
  border-top: 2px solid #55575a67;
  color: #FFF;
  text-align: center;
  padding-top: 20px;
}

/* .image-container{
    width: 100vw;
    height: 100%; */
/* background-color: rgb(3, 39, 27); */
/* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.image-preview{
    position: relative;
    flex-shrink:1;
    max-width: 50%;
    max-height: 50%; */
/* border: 1px solid #000; */
/* border-radius: 5px;
    margin-left: 20px;
} */
/* .label{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.image-preview img{
    
    height: 100%;
    object-fit: contain;    
}
#cameraFeed{
    position: absolute;
    background: #000;
    height: 85vh;
    width: 80vw;
    visibility: hidden;
    object-fit: cover;
}
#close {
    position: absolute;
    bottom: 0 ;
    margin-bottom: 1.5vh;
    visibility: hidden;
    padding: 5px
}
.result{
    background-color: rgb(24, 74, 74);
    outline: none;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    padding: 8px 15px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .image-container{
        padding-top: 10vh;
        justify-content:flex-start;
    }
    #cameraFeed{
        height: 70vh;
        width: 90vw;
    }
  } */

@media only screen and (max-width: 600px) {
  header {
    height: 10vh;
  }
  .header-right {
    gap: 1rem;
    margin-left: 1rem;
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
    img {
      height: 40px;
    }
  }
  .section1 {
    padding: 1rem;
    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: aliceblue;
    }
    h4 {
      font-size: 1rem;
      color: #838588;
      font-weight: 300;
    }
  }
  .section2 {
    flex-direction: column;
    .card {
      width: 80vw;
      overflow: hidden;
    }
  }
  .label {
    margin-top: 30px;
    padding: 12px;
    text-align: center;
    color: aliceblue;
    font-weight: 600;
    background-color: #477aee;
    width: 100%;
    border-radius: 20px;
  }
  .info-detail {
    width: 90%;
    h1 {
      font-size: 20px;
      color: aliceblue;
    }
    p {
      color: #838588;
      font-size: 12px;
    }
  }
  .back-option{
    width: 90vw;
    .btn{
      padding: 6px;
    }
    h2{
      font-size: 18px;
    }
    p{
      font-size: 12px;
    }
  }
  .upload {
    width: 90vw;
    text-align: center;
  }
}
