#detectImage {
  width: 100vw;
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.back-option {
    margin-top: 20px;
  display: flex;
  width: 60vw;
  flex-direction: row;
  gap: 10px;
  color: white;
  /* justify-content: center; */
  align-items: center;
  p {
    font-size: 14px;
    color: #757171cc;
  }
}
.btn {
  background-color: black;
  padding: 10px 20px;
  outline: none;
  border: none;
  border: 1px solid #75717163;
  border-radius: 5px;
  color: aliceblue;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}
.upload {
  width: 60vw;
  height: 60vh;
  background-color: #00000063;
  border: 2px dashed #8a86869f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: aliceblue;
  padding: 20px 0px;
  transition: border 0.2s ease-in-out;

  label {
    background-color: #477aee;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  p {
    color: #757171cc;
  }
  img {
    width: 80px;
  }
}
.result {
  width: 50vw;
  height: 50vh;
  position: absolute;
  background-color: #000000;
  border-radius: 20px;
  display: none;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
}
.after-result{
    color: aliceblue;
    border: 1px solid #757171;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    width: fit-content;
    margin-bottom: 20px;
    display: none;
}
.showResult{
    color: aliceblue;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #757171;
    border-radius: 10px;
    margin-left: 10px;
    display: none;
    transition: all 1s ease-in-out;

}
.upload:hover{
    border: 2px dashed #477aee;
    cursor: pointer;
}