#detectImage{
    width: 100vw;
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.back-option{
    display: flex;
    width: 60vw;
    flex-direction: row;
    gap: 10px;
    color: white;
    /* justify-content: center; */
    align-items: center;
    p{
        font-size: 14px;
        color: #757171cc;
    }
}
.btn{
    background-color: black;
    padding: 10px 20px;
    outline: none;
    border: none;
    border: 1px solid #75717163 ;
    border-radius: 5px;
    color: aliceblue;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}
.upload{
    width: 60vw;
    height: 60vh;
    background-color: #75717163;
    border: 2px dashed #8a86869f;
    border-radius: 10px;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: aliceblue;
    padding: 20px 0px;
    
    label{
        background-color: #477AEE;
        padding: 10px 20px ;
        border-radius: 20px;
        cursor: pointer;
    }
    p{
        color: #757171cc ;
    }
    img{
        width: 80px;
    }
}
.preview-image{
    width: 50vw;
    height: 50vh;
    position: absolute;
    background-color: #757171;
    border-radius: 20px;
    display: none;

}
